button data-controller="carousel" data-action="click->carousel#show"  data-carousel-index-value="#{@publication_content.id}" data-carousel-target="carousel_slide"  aria-current="true" aria-label=("Slide #{publication_content.id}") style=("width: 100px;") type="button"
  img.d-block.w-100.shadow-1-strong.rounded src="#{url_for(@publication_content.file)}" /

