


==render "nav", profile: current_user.profile
==render (ShowPublicationsComponent.new(publications: @publications, current_user: current_user))



/ a href="#" data-reflex="click->Counter#increment" data-step="1" data-count="#{@count.to_i}"
/   ="Increment #{@count.to_i}"

/ h1 Listing publications

/ table
/   thead
/     tr
/       th Name
/       th Description
/       th Type
/       th User
/       th
/       th
/       th
/
/   tbody
/     - @publications.each do |publication|
/       tr
/         td = publication.name
/         td = publication.description
/         td = publication.publication_type
/         td = publication.user
/         td = link_to 'Show', publication
/         td = link_to 'Edit', edit_publication_path(publication)
/         td = link_to 'Destroy', publication, data: { confirm: 'Are you sure?' }, method: :delete
/
/ br
/
/ = link_to 'New Publication', new_publication_path
